<div id="backGround">

<ul class="nav col-12 justify-content-between">
  <li class="nav-item">
    <a class="nav-link borderNL" href="#">Username</a>
  </li>
  <li class="nav-item">
    <a class="nav-link borderNL" href="#">win/loss ratio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link borderNL" href="#">favorite pokemon</a>
  </li>
</ul>
  <div class="row row-cols-1 row-cols-sm-4">
   {{#each pokemon as |poke|}}
  <div class="col mb-4">
  <div class="card">
    <img src="{{image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">HP: {{hp}}  Attack: {{attack}}<br>
      Move1: {{move1}} Move:2 {{move2}}</p>
     <p class="card-text"><small class="text-muted">Type: {{type}}</small></p>
    </div>
  </div>
  </div>
  {{/each}}
</div>
</div>
