<div id="backGround">

  <div class="row row-cols-1 row-cols-sm-4">
   {{#each pokemon as |poke|}}
  <div class="col-12 col-sm-6 col-md-6 col-lg-3">
  <div class="card">
    <img src="{{image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-capitalize">{{name}}</h5>
      <p class="card-text text-capitalize">HP: {{hp}}  Attack: {{attack}}<br>
      <small>Move 1: {{move1}} <br> Move 2: {{move2}} <br> Move 3: {{move3}} <br> Move 4: {{move4}}</p></small>
     <p class="card-text text-capitalize"><small class="text-muted">Type: {{type}}</small></p>
    </div>
  </div>
  </div>
  {{/each}}
</div>
</div>
